<!DOCTYPE html>
<html>
  <head>
    <title>Add Package to requirements.txt</title>
  </head>
  <body>
    <h1>Add Package to requirements.txt</h1>
    <form method="POST">
      <label for="package_name">Package Name:</label>
      <input type="text" id="package_name" name="package_name">
      <br>
      <input type="submit" value="Add Package">
    </form>
  </body>
</html>

